*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper{
    height: 100vh;
    overflow-y:auto;
    overflow-x:hidden;
}
.container{
    width: 1200px;
    margin: 0 auto;

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.logo{
    width: 80px;
}

.logo-container{
    display: flex;
}

.nav-items{
    display: flex;
    gap: 2rem;
    padding: ;
}